.top-bar .name h1 {
  background: url(../img/logo.png) no-repeat;
  padding-left: 35px;
}
.tab-bar .bg {
  background: url(../img/logo.png) no-repeat center right;
}
.main-body {
  padding: 10px;
  max-width: 70em;
}
.main-padding {
  height: 200px;
}
.article div.date {
  background: #555;
  padding: 3px;
  padding-top: 0;
  color: #FFF;
  border-radius: 3px;
  margin-top: 10px;
  margin-right: 15px;
}
.article div.date small {
  padding: 0 1px;
  margin: 0;
}
.article div.date small.month:after {
  content: "月";
}
.article div.date .day {
  background: #FFF;
  color: #555;
  font-size: 1.1em;
  line-height: 1.7em;
  font-weight: bold;
  text-align: center;
}
.article h2 small {
  font-size: 0.4em;
}
.article .content {
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #DDD;
}
.article .content pre code {
    padding: 5px 10px;
    display: block;
    max-width: 100%;
    overflow: auto;
    box-shadow: 0 0 10px #000 inset;
}
.article .content code {
    font-size: 0.85em;
    margin: 5px;
    background: #222;
    border-radius: 5px;
    color: #FF0;
    text-shadow: 1px 1px 3px #000;
}

.article p {
  text-indent: 2em;
}
.thoughts {
  margin: 20px 0 30px 0;
  font-size: 0.85em;
}
.thoughts h3 {
  border-bottom: 1px dotted #DDD;
  padding-bottom: 7px;
}
.footer {
  background: #222;
  color: #999;
  padding: 20px;
  text-shadow: 1px 1px 5px #000;
  font-size: 0.9em;
}
.footer .row {
  max-width: 100%;
}
.footer .row .column {
  margin-bottom: 20px;
}
.footer a.sponsor {
  color: #CCC;
  font-size: 1.3em;
}
