{% include header.html %}
  <div class="main-body row">
    <div class="column large-9 medium-8">
      <!-- Article List [ -->
      {% for post in site.posts %}
        {% if page.category == null or post.category contains page.category %}
          <div class="article">
            <div class="clearfix">
              <div class="date left hide-for-small">
                <small class="month">{{ post.date | date: "%m" }}</small>
                <small class="year">{{ post.date | date: "%Y" }}</small>
                <div class="day">{{ post.date | date: "%-d" }}</div>
              </div>
              <div class="content left large-10 medium-9 small-12">
                <h2>
                  {{ post.title }}
                  <small>
                    <span class="show-for-small-only">
                      <br/>{{ post.date | date: "%Y年%m月%d日" }}
                    </span>
                  </small>
                </h2>
                <div>{{ post.excerpt }}</div>
                <div class="text-right">
                  <a href="{{ post.url }}">&raquo; 全文</a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
      <!-- ] Article List -->
    </div>
    <!-- Right Side Bar [ -->
    <div class="column large-3 medium-4 small-12">
      <div class="thoughts">
        <h3>我在想……</h3>
        <p>{{ content }}</p>
      </div>
      <div class="panel">
        <a href="/guestbook" class="button small expand">给我个留言</a>
      </div>
    </div>
    <!-- ] Right Side Bar -->
  </div>
{% include footer.html %}
