{% include header.html %}
  <div class="main-body row">
    <div class="article">
      <div class="clearfix">
        <div class="date left hide-for-small">
          <small class="month">{{ page.date | date: "%m" }}</small>
          <small class="year">{{ page.date | date: "%Y" }}</small>
          <div class="day">{{ page.date | date: "%-d" }}</div>
        </div>
        <div class="content left large-10 medium-9 small-12">
          <h2>
            {{ page.title }}
            <small>
              <span class="show-for-small-only">
                <br/>{{ page.date | date: "%Y年%m月%d日" }}
              </span>
            </small>
          </h2>
          <div>{{ content }}</div>
        </div>
      </div>
    </div>
    <div class="ds-thread" data-thread-key="{{ page.url }}" data-title="{{ page.title }}" data-url="{{ page.url }}"></div>
      <!-- 多说评论框 end -->
      <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
      <script type="text/javascript"> var duoshuoQuery = {short_name:"davidaq"}; (function() { var ds = document.createElement('script'); ds.type = 'text/javascript';ds.async = true; ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js'; ds.charset = 'UTF-8'; (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds); })(); </script>
  </div>
{% include footer.html %}
